<!-- Navigation-->
<nav
  class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
  id="mainNav" *ngIf="authService.user"
>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Monllor Uni</a>
    <button
      class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1 dropdown" *ngIf="authService.user.role === 'superadmin' || authService.user.role === 'admin'">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger dropdown-toggle" href="#" id="mnuUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuarios
          </a>
          <div class="dropdown-menu" aria-labelledby="mnuUsers">
            <a class="dropdown-item" routerLink="/users/new">Alta</a>
            <a class="dropdown-item" routerLink="/users/list">Listar</a>
          </div>
        </li>
        <li class="nav-item mx-0 mx-lg-1 dropdown" *ngIf="authService.user.role === 'superadmin' || authService.user.role === 'admin'">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger dropdown-toggle" href="#" id="mnuCourses" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Materias
          </a>
          <div class="dropdown-menu" aria-labelledby="mnuCourses">
            <a class="dropdown-item" routerLink="/courses/new">Alta</a>
            <a class="dropdown-item" routerLink="/courses/list">Listar</a>
          </div>
        </li>
        <li class="nav-item mx-0 mx-lg-1 dropdown" *ngIf="authService.user.role === 'teacher'">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger dropdown-toggle" href="#" id="mnuCourses" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Materias
          </a>
          <div class="dropdown-menu" aria-labelledby="mnuCourses">
            <a class="dropdown-item" routerLink="/my-courses">Listar</a>
          </div>
        </li>
        <li class="nav-item mx-0 mx-lg-1 dropdown" *ngIf="authService.user.role === 'superadmin' || authService.user.role === 'admin'">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger dropdown-toggle" href="#" id="mnuInscription" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inscripciones
          </a>
          <div class="dropdown-menu" aria-labelledby="mnuInscription">
            <a class="dropdown-item" routerLink="/inscriptions/new">Alta</a>
            <a class="dropdown-item" routerLink="/inscriptions/list">Listar</a>
          </div>
        </li>
        <li class="nav-item mx-0 mx-lg-1 dropdown" *ngIf="authService.user.role === 'student'">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger dropdown-toggle" href="#" id="mnuInscription" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inscripción
          </a>
          <div class="dropdown-menu" aria-labelledby="mnuInscription">
            <a class="dropdown-item" routerLink="/students/inscription">Alta</a>
          </div>
        </li>
        <li class="nav-item mx-0 mx-lg-1 dropdown" *ngIf="authService.user.role === 'teacher'">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger dropdown-toggle" href="#" id="mnuExamns" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Exámenes
          </a>
          <div class="dropdown-menu" aria-labelledby="mnuExamns">
            <a class="dropdown-item" routerLink="/exams/new">Alta</a>
            <a class="dropdown-item" routerLink="/actas-exam">Actas</a>
          </div>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
          [routerLink]=""
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            (click)="logout()"
          >
            Logout
          </a>
        </li>
        <li class="nav-item mx-0 mx-lg-1 p-3 bg-success">
          <span appEmail class="text-white"></span>
        </li>
      </ul>
    </div>
  </div>
</nav>
