<div class="container mt-8">
  <mat-toolbar color="primary">
    <span>
      Listado de Inscripciones
    </span>
    <span class="fill-remaining-space"></span>
    <button
      class="btn-dialog-close"
      mat-stroked-button
      routerLink="/users"
      tabIndex="-1"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
  <div class="row">
    <div class="col-12 col-md-12">
      <app-curso-tabla (courseSelected)="courseSelected($event)"></app-curso-tabla>
    </div>
  </div>
  <div class="row" *ngIf="showStudent">
    <div class="col-12 col-md-8">
      <app-usuario-tabla #usuarioTabla role="student" [users]="students"></app-usuario-tabla>
    </div>
  </div>

</div>
