<table
  class="table mt-4 table-striped table-responsive"
>
  <thead class="thead-inverse">
    <tr>
      <th>Foto</th>
      <th>Alumno</th>
      <th>Nota</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of students; let i = index">
      <td scope="row">
        <img
        [src]="item.student.photoUrl"
        alt="foto"
        [ngStyle]="{ width: '80px' }"
        class="img-responsive img-100 pointer"
      />
      </td>
      <td scope="row">
        {{ item.student.firstname }} {{ item.student.lastname }}
      </td>
      <td scope="row">{{ item.note }}</td>
      <td scope="row">{{ item.note | aprobado }}</td>

    </tr>
  </tbody>
</table>
